*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.slider-wrapper {
   position: relative;
   max-width: 1280px;
   margin: 0 auto;
}
.slider{
   width: 95%;
   margin: auto;
   overflow: hidden;
}
.slider ul{
   display: flex;
   padding: 0;
   width: 800%;
   animation: cambio 40s infinite alternate linear;

}
.slider li{
   background: none;
   width: 100%;
   list-style: none;
}
.slider img{
   width: 1185px;
   height: 580px;
   border-radius: 10px;
}

@keyframes cambio{
   0%{margin-left: 0%;}
   7.5%{margin-left: 0%;}

   12.5%{margin-left: -100%;}
   20%{margin-left: -100%;}

   27.5%{margin-left: -200%;}
   32.5%{margin-left: -200%;}

   37.5%{margin-left: -300%;}
   45%{margin-left: -300%;}

   50%{margin-left: -400%;}
   57.5%{margin-left: -400%;}

   62.5%{margin-left: -500%;}
   70%{margin-left: -500%;}

   75%{margin-left: -600%;}
   82.5%{margin-left: -600%;}

   87.5%{margin-left: -700%;}
   95%{margin-left: -700%;}
}
 